@charset "UTF-8";

a { text-decoration: none; color:#000;}
a:hover { text-decoration:none; color: #000; }

/* layout */
.header {height:80px;}

.sign-up-box {width:600px; background-color:#F4FCFD; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.sign-up-subject {margin:20px; font-weight:bold;}

.shadow-box {width:550px; background-color:#F4FCFD; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.login-box {width:400px;}

.contents-box {width:600px;}
footer {height:100px;}